{% extends 'layout/base.html' %}

{% load static %}

{% block title %}Benetex{% endblock %}

{% block content %}
<div class="container">


    <div class="medium-content" id="medium-content">
        <a href="{% url 'shop:index' %}" class="top-links">Главная</a> /
        <a href="{% url 'shop:benetex' %}" class="top-links">Benetex</a>
        <br>
        <a href="javascript:void(0);" class="benedict-url">
            <img src="{% static 'img/benetex.png' %}" alt="">
        </a>
        <div class="benedict-content">
            <h2 class="starting-text">Benedict</h2> <br>
            <p class="starting-content">
                Новый год встретили, идет активная подготовка к 23 февраля и 8 марта! Атмосфера <br>
                праздника предвкушение новых выходных дней приносят с собой дополнительную <br> нагрузку на работе и
                режим
                “успеть все”.
            </p> <br>
            <p class="starting-content">
                В стрессовых условиях главное сохранять спокойствие! В этом поможет <br>
                своевременный перерыв на кофе, аффирмации и увлажнитель воздуха “Pebble”.
            </p> <br>
            <p class="starting-content">
                С наступлением отопительного сезона влажность падает до 30%. Это становится <br>
                причиной плохого самочувствия, рассеянного внимания и быстрой утомляемости.
            </p> <br>
            <p class="starting-content">
                “Pebble” буквально тот самый глоток свежего воздуха! Увлажнитель создаст <br>
                комфортные условия для работы в офисе и для спокойного отдыха дома.
            </p> <br>
            <p class="starting-content">
                Экодизайн, встроенная подсветка, компактный размер - совершенный <br>
                комбо-набор для любого интерьера и помещения. Площадь работы увлажнителя - <br>
                до 20 м2.
            </p> <br>
            <p class="starting-content">
                200 штук в наличии <br>
                “Pebble”- поможет пережить длительные холода без стресса!
            </p> <br>
        </div>
        <h2 class="production-text">
            Продукция
        </h2>

        <div class="view-cards">
            <img src="{% static 'img/view-production.png' %}" alt="View production card 1">
            <img src="{% static 'img/view-production.png' %}" alt="View production card 2">
            <img src="{% static 'img/view-production.png' %}" alt="View production card 3">
        </div>
        <button type="button" class="view-button">Посмотреть продукцию</button>
    </div>

    {% include 'layout/call.html' %}

</div>

{% endblock %}