{% extends 'layout/base.html' %}

{% load static %}

{% block title %}{{ category }}{% endblock %}

{% block content %}
<div class="medium-content" id="medium-content">
    <a href="{% url 'shop:index' %}" class="top-links">Главная</a> /
    <a href="{% url 'shop:category' slug=category.slug %}" class="top-un-links">{{ category.name }}</a>
    <br>
    <!-- When mobile size is be active, this toggle is be active momentally -->
    <button onclick="myCatalogyDrop()" class="button-catalog">Выбрать категорию</button>
    <div class="catalog-tovarov">
        <div class="sidebar-menu" id="catalogy-tovarov">
            <div class="accordion">
                <h2 class="catalog-title">Категории</h2>
                <hr>
                {% for item in categories %}
                <div class="accordion-content">
                    <div class="header" {% if item.slug == category.parent_category.slug %}id="header"{% endif %}>
                        <span class="title">{{ item.name }}</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="description">
                        {% for sub_category in item.sub_categories.all %}
                        <li>
                            <a {% if category.slug != sub_category.slug %}href="{% url 'shop:category' slug=sub_category.slug %}"{% else %}id="defaultOpen"{% endif %} class="descript-link">
                                {{ sub_category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="tovar-menu">
            <div id="biznesNabor" class="tovar-content">
                <h3 class="nabori-title">{{ category.name }}</h3>
                <div class="vid-tovara">
                    {% for product in products %}
                    <a href="{% url 'shop:product' slug=product.slug %}" class="tovar-list-url">
                        <div class="tovar-img">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                        <div class="tovar-opisanie">
                            <span class="name-of-tovar">{{ product.name }}</span>
                            <span class="price-of-tovar">от {{ product.price }}</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/category.js' %}"></script>
{% endblock %}