{% extends 'layout/base.html' %}

{% load static %}

{% block title %}Landing Page{% endblock %}

{% block content %}
<div class="container">
    <!-- Home page banners -->
    <div class="content-of-sliders">
        <div id="slider">
            <div class="slide">
                <img
                    src="https://storage2.alifshop.uz/files?k1=7c5f595a-11fb-4923-8dde-f026422dd4d4&k2=9bfd1fb3102e47767d616d87c1505daede1060390aadd82711bcafa254d32dbef0fa1499ec7b5fd7d63c13ccb3cd5b4c0afa7e831f49af3aaca7aa78484bccf6">
            </div>

            <div class="slide">
                <img
                    src="https://storage2.alifshop.uz/files?k1=a3412866-19cc-4cee-a3d7-fbd37d2236bc&k2=231b0ce76fdc7f28869c455182864f04c212fbcdefb6f64df2add3a9391fc69b96c81fd1d8a47ed67fb3883fcb996707a464f6ab38a6b50a95431549bf69f036">
            </div>

            <div class="slide">
                <img
                    src="https://storage2.alifshop.uz/files?k1=b95308b1-1cf4-4404-8169-b335795b9027&k2=f0a20668b5e8d083a57b760a770c0773b79d21fd2366ff0e1cebc86e112081b9c5f398d996f526d587712bb606233e777b13b36ae7a58ab2f500fdc3cfe190a2">
            </div>

            <div class="slide">
                <img
                    src="https://storage2.alifshop.uz/files?k1=b813d38d-91fa-4a9b-932d-a6f65498328c&k2=9efc0e6fcea6cc877adf8408d3314ec38e75d75b0d0a8ae6bf4d927f9a510e5d4036c6384eb6d947f62ea18699a4ee056c86975958aac6f05537856b4aefb7cb">
            </div>

            <!--Controlling arrows-->
            <span class="controls" onclick="prevSlide(-1)" id="left-arrow"><i class="fa-solid fa-chevron-left"></i></i>
            </span>
            <span class="controls" id="right-arrow" onclick="nextSlide(1)"><i class="fa-solid fa-angle-right"></i>
            </span>
        </div>
        <div id="dots-con">
            <span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span>
        </div>
    </div>

    <!-- Products -->
    <div class="product-container" id="product-container">
        {% for collection in categories_for_index_page %}
        <div class="column-products">
            {% for item in collection %}
            <div class="product" onclick="window.location='{% if item.sub_category_first %}{% url 'shop:category' slug=item.sub_category_first.slug %}{% else %}javascript:void(0);{% endif %}'"
                style="cursor: pointer;">
                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="{{ item.slug }}">
                <span class="text">{{ item.name }}</span>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!-- When mobile size is be active, this toggle is be active momentally -->
    <button onclick="myCatalogyDrop()" class="button-catalogg">Выбрать категорию</button>

    <div class="ct-tovar">
        <div class="sidebar-menu" id="catalogyy-tovarov">
            <div class="accordion">
                <h2 class="catalog-title">Категории</h2>
                <hr>
                {% for item in categories %}
                <div class="accordion-content">
                    <div class="header" {% if item.slug == 'nabor' %}id="header" {% endif %}>
                        <span class="title">{{ item.name }}</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="description">
                        {% for sub_category in item.sub_categories.all %}
                        <li>
                            <a href="{% url 'shop:category' slug=sub_category.slug %}" class="descript-link">
                                {{ sub_category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'layout/call.html' %}

    <!-- News section -->
    <h4 class="text-center">Новости</h4>

    <div class="medium-content" id="medium-content">

        <div class="news-section">
            {% for new in news %}
            <div class="card">
                <a href="{% url 'shop:news' slug=new.slug %}">
                    <img src="{{ new.image.url }}" alt="{{ new.name }}">
                </a>
                <div class="data-part">
                    <span class="data#">#новости</span>
                    <p class="data-number">{{ new.created_at | date:"d M Y" }}</p>
                </div>
                <h2>{{ new.name }}</h2>
                <p>{{ new.description }}</p>
            </div>
            {% endfor %}
        </div>

        <!-- About company section -->
        <div id="about">
            <h4 class="text-center-about">О компании</h4>
            <div class="about-company">
                <div class="mini-section">
                    <div class="include-part">
                        <h3>30 лет</h3>
                        <span>Работаем на рынке</span>
                    </div>
                </div>
                <br>
                <div class="mini-section">
                    <div class="include-part">
                        <h3>100 +</h3>
                        <span>Единиц оборудования</span>
                    </div>
                </div>
                <br>
                <div class="mini-section">
                    <div class="include-part">
                        <h3>100000 +</h3>
                        <span>Наменований товаров в каталогах</span>
                    </div>
                </div>
                <br>
                <div class="mini-section-last">
                    <div class="include-part-last">
                        <h3>1000000 +</h3>
                        <span>Товаров произведено на собственном производстве</span>
                    </div>
                </div>
                <br>
            </div>
        </div>




        <div class="buttonss">
            <button type="button" class="see-categories">Посмотреть каталоги</button>
            <button type="button" class="see-categories-1">Cкачать презентацию о нас</button>
        </div>

        <h4 class="text-center-about">
            Нам доверяют</h4>
        <!-- Нам доверют section -->
        <div class="slider-logo">
            <div class="slide-track">
                {% for sponsor in sponsors %}
                <div class="slide-logo">
                    <img src="{% static sponsor %}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Our brands section -->
        <h4 class="text-center-about">Наши бренды</h4>
        <div class="carousel" data-flickity='{ "lazyLoad": true }'>
            {% for brand in brands %}
            <div class="carousel-cell">
                <img class="carousel-cell-image" data-flickity-lazyload="{% static brand %}" alt="tulip" />
            </div>
            {% endfor %}
        </div>
        <!-- Our Location -->
        <h4 class="text-center-about">Наша локация</h4>
        <div class="location-section">
            <form method="POST" action="{% url 'shop:form' type='call-order' %}">
                <div class="form-content">
                    <p class="form-text">Появились вопросы? <br>Закажите звонок</p>
                    {% csrf_token %}
                    {{ contact_form.name }}
                    {{ contact_form.phone_number }}
                    <button type="submit" class="send">Заказать звонок</button>
                </div>
            </form>
            <div class="map-content">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.2364940374323!2d-122.47460878475039!3d37.71412637977059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7c4bb6f6521f%3A0x1704552fb8861a1e!2zNTUgQ2h1bWFzZXJvIERyLCBTYW4gRnJhbmNpc2NvLCBDQSA5NDEzMiwg0KHQqNCQ!5e0!3m2!1sru!2s!4v1648149694119!5m2!1sru!2s"
                    style="border:0; border-radius: 26.2305px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}