{% extends 'layout/base.html' %}

{% load static %}

{% block title %}Виды нанесения логотипа{% endblock %}

{% block content %}
<div class="container">


    <div class="medium-content" id="medium-content">
        <a href="{% url 'shop:index' %}" class="top-links">Главная </a> /
        <a href="{% url 'shop:logo_lay_on' %}" class="top-un-links">Нанесение логотипа</a>
        <br>
        <h2 class="starting-text">Виды нанесения логотипа</h2>
        <div class="logotip-container">
            {% for logo_lay_ons_collection in logo_lay_ons %}
            <div class="logotip-content">
                {% for item in logo_lay_ons_collection %}
                <div class="logotip-item">
                    <div class="item-text">
                        <p>{{ item.name }}</p>
                        <a href="javascript:void(0);" onclick="openModalVideo({{ item.id }});">Посмотреть видео</a>
                    </div>
                    <div class="item-logos">
                        <img src="{{ item.image_1.url }}"
                            onclick="openModal({{ item.id }});currentSlide(1, {{ item.id }})" class="mini-logos"
                            alt="{{ item.name }}">
                        <img src="{{ item.image_2.url }}"
                            onclick="openModal({{ item.id }});currentSlide(2, {{ item.id }})" class="mini-logos"
                            alt="{{ item.name }}">
                        <img src="{{ item.image_3.url }}"
                            onclick="openModal({{ item.id }});currentSlide(3, {{ item.id }})" class="mini-logos"
                            alt="{{ item.name }}">
                        <img src="{{ item.image_4.url }}"
                            onclick="openModal({{ item.id }});currentSlide(4, {{ item.id }})" class="mini-logos"
                            alt="{{ item.name }}">
                    </div>
                </div>
                <div id="myModal{{ item.id }}" class="modal">
                    <span class="close1 cursor" onclick="closeModal({{ item.id }})">&times;</span>
                    <div class="modal-content">
                        <div class="mySlides{{ item.id }}">
                            <div class="numbertext">1 / 4</div>
                            <img src="{{ item.image_1.url }}" style="width:450px" alt="{{ item.name }}">
                        </div>
                        <div class="mySlides{{ item.id }}">
                            <div class="numbertext">2 / 4</div>
                            <img src="{{ item.image_2.url }}" style="width:450px" alt="{{ item.name }}">
                        </div>

                        <div class="mySlides{{ item.id }}">
                            <div class="numbertext">3 / 4</div>
                            <img src="{{ item.image_3.url }}" style="width:450px" alt="{{ item.name }}">
                        </div>

                        <div class="mySlides{{ item.id }}">
                            <div class="numbertext">4 / 4</div>
                            <img src="{{ item.image_4.url }}" style="width:450px" alt="{{ item.name }}">
                        </div>
                        <div class="caption-container">
                            <p id="caption{{ item.id }}"></p>
                        </div>
                        <div class="selected">
                            <div class="column">
                                <img class="demo{{ item.id }} cursor" src="{{ item.image_1.url }}"
                                    style="width:100px; height: 100px;" onclick="currentSlide(1, {{ item.id }})"
                                    alt="{{ item.name }}">
                            </div>
                            <div class="column">
                                <img class="demo{{ item.id }} cursor" src="{{ item.image_2.url }}"
                                    style="width:100px; height: 100px;" onclick="currentSlide(2, {{ item.id }})"
                                    alt="{{ item.name }}">
                            </div>
                            <div class="column">
                                <img class="demo{{ item.id }} cursor" src="{{ item.image_3.url }}"
                                    style="width:100px; height: 100px;" onclick="currentSlide(3, {{ item.id }})"
                                    alt="{{ item.name }}">
                            </div>
                            <div class="column">
                                <img class="demo{{ item.id }} cursor" src="{{ item.image_4.url }}"
                                    style="width:100px; height: 100px;" onclick="currentSlide(4, {{ item.id }})"
                                    alt="{{ item.name }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myModal{{ item.id }}-video" class="modal">
                    <span class="close1 cursor" onclick="closeModalVideo({{ item.id }})">&times;</span>
                    <div class="modal-content">
                        {% if item.video %}
                        <video width="75%" height="75%" controls>
                            <source src="{{ item.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'layout/call.html' %}

</div>

{% endblock %}