{% extends 'layout/base.html' %}

{% load static %}

{% block title %}{{ new.name }}{% endblock %}

{% block content %}
<div class="medium-content" id="medium-content">
    <a href="{% url 'shop:index' %}" class="top-links">Главная</a> /
    <a href="{% url 'shop:index' %}#medium-content" class="top-links">Новости</a> /
    <a href="{% url 'shop:news' slug=new.slug %}" class="top-un-links">{{ new.name }}</a>
    <br>
    <div class="benedict-content">
        <h2 class="starting-text">{{ new.name }}</h2> <br>
        {{ new.content | safe }}
        <img src="{{ new.image.url }}" class="news-item-image" alt="{{ new.name }}">
    </div>
    {% if news %}
        <h4 class="text-center">Другие новости</h4>
        <div class="news-section" id="news-items">
            {% for item in news %}
            <div class="card">
                <a href="{% url 'shop:news' slug=item.slug %}">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                </a>
                <div class="data-part">
                    <span class="data#">#новости</span>
                    <p class="data-number">{{ item.created_at | date:"d M Y" }}</p>
                </div>
                <h2>{{ item.name }}</h2>
                <p>{{ item.description }}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}