{% extends 'layout/base.html' %}

{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="medium-content" id="medium-content">
    <a href="/index.html" class="top-links">Главная</a> /
    <a href="/pages/podarok.html" class="top-links">Подарки</a> /
    <a href="#" class="top-un-links">Название подарка</a>
    <!-- part of product image and description, color, size, weight -->
    <div class="into-product">
        <div class="product-into-images">
            <img src="{{ product.image.url }}" class="main-img" alt="{{ product.name }}">
            <div class="three-part-images">
                {% for product_image in product.product_images.all %}
                <img src="{{ product_image.image.url }}" alt="{{ product.name }}">
                {% endfor %}
            </div>
        </div>
        <div class="product-into-sizes">
            <strong>{{ product.name }}</strong>
            <div class="common-product-ch">
                <div class="size-of-product">
                    <span>РАЗМЕРЫ</span>
                    <p>{{ product.size }}</p> <br>
                    <span>МАТЕРИАЛ</span>
                    <p>{{ product.material }}</p> <br>
                    <span>ВЕС: {{ product.weight }}</span>
                </div>
                <div class="color-picker-pr">
                    <p class="title-colorlist">
                        Цвета в наличии
                    </p>
                    {% for product_colors in product.product_colors_by_three %}
                    <div class="colorList">
                        {% for product_color in product_colors %}
                        <button style="background-color: {{ product_color.color }};"></button>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <br>
            <span class="from-price">От <strong>{{ product.price }}</strong></span>
            <br>
            <br>
            <button class="ordering" id="zakaz-button">Заказать</button>
        </div>
    </div>
    <div class="ending-description">
        <strong>Описание</strong>
        {{ product.description | safe }}
    </div>
    <div id="myZakazModal" class="modalZakaz">

        <!-- Modal content -->
        <div class="modal-content-zakaz">
            <div class="modal-header">
                <p class="form-text-zakaz">Оформление заявки <br>
                    на приобретение <br>
                    товара</p>
                <span class="close-zakaz">&times;</span>
            </div>
            <input type="text" placeholder="Ваше имя" value="" autocomplete="off" required>
            <input type="number" placeholder="Номер телефона" value="" autocomplete="off" required>
            <button type="submit" class="send">Заказать звонок</button>
        </div>

    </div>
</div>
{% endblock %}