<!-- footer section -->
<footer id="footer">
    <div class="content">
        <div class="link-boxes">
            <ul class="box">
                <li class="link_name">Документы</li>
                <li><a href="javascript:void(0);">Общие условия продажи</a></li>
                <li><a href="javascript:void(0);">Архив оферт</a></li>
                <li><a href="javascript:void(0);">Устав</a></li>
                <li><a href="javascript:void(0);">Свидетельство</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Сервис</li>
                <li><a href="javascript:void(0);">Магазины</a></li>
                <li><a href="javascript:void(0);">Рассрочка в Исламе</a></li>
                <li><a href="javascript:void(0);">О нас</a></li>
                <li><a href="javascript:void(0);">Как начать сотрудничество?</a></li>
                <li><a href="javascript:void(0);">Возвраты</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Каталог товаров</li>
                <li><a href="javascript:void(0);">Электроника для авто</a></li>
                <li><a href="javascript:void(0);">Товары для кормления</a></li>
                <li><a href="javascript:void(0);">Умный дом и безопасность</a></li>
                <li><a href="javascript:void(0);">Садовая техника</a></li>
                <li><a href="javascript:void(0);">Компьютеры и комплектующие</a></li>
                <li><a href="javascript:void(0);">Шины и диски</a></li>
            </ul>
            <ul class="box input-box">
                <li class="link_name">Мы в соц-медиа</li>
                <div class="media-icons">
                    <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    <a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                    <a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                </div>
                <li><a href="javascript:void(0);">@benegifts_uz</a></li>
                <li><a href="tel:+998990032244">+998 99 003 22 44</a></li>
                <li><a href="tel:+998990032244">+998 99 003 22 44</a></li>
            </ul>
        </div>
    </div>
    <hr class="line">
    <div class="bottom-details">
        <div class="bottom_text">
            <span class="copyright_text">2023 © benegifts.uz</span>
        </div>
    </div>
</footer>