<!-- popUp form -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <form method="POST" action="{% url 'shop:form' type='dealer' %}">
        <div class="modal-content">
            <div class="modal-header">
                <p class="form-text">Форма обратной <br> связи для дилеров</p>
                <span class="close">&times;</span>
            </div>
            {% csrf_token %}
            {{ contact_form.name }}
            {{ contact_form.phone_number }}
            <button type="submit" class="send">Заказать звонок</button>
        </div>
    </form>

</div>

<!-- PopUp for postavshikov -->
<div id="my2Modal" class="modal2">

    <!-- Modal content -->
    <form method="POST" action="{% url 'shop:form' type='provider' %}">
        <div class="modal-content2">
            <div class="modal-header2">
                <p class="form-text2">Форма обратной <br> связи для <br> поставщиков</p>
                <span class="close2">&times;</span>
            </div>
            {% csrf_token %}
            {{ contact_form.name }}
            {{ contact_form.phone_number }}
            <button type="submit" class="send">Заказать звонок</button>
        </div>
    </form>

</div>