<!-- navbar links section -->
<div class="navlinks">
    <ul>
        <li>
            <a href="{% url 'shop:index' %}#about" class="linkk">
                О компании
            </a>
        </li>
        <li>
            <a href="{% url 'shop:benedict' %}" class="linkk">
                Benedict
            </a>
        </li>
        <li>
            <a href="{% url 'shop:benetex' %}" class="linkk">
                Benetex
            </a>
        </li>
        <li>
            <a href="{% url 'shop:logo_lay_on' %}" class="linkk">
                Нанесение логотипа
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="linkk" id="myBtn">
                Дилерам
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="linkk" id="my2Btn">
                Поставщикам
            </a>
        </li>
        <li>
            <a href="https://drive.google.com/drive/folders/1gBGuvnNYMybjlfhV9qSATJug81gzpv0T" class="linkk">
                Cкачать каталоги
            </a>
        </li>
    </ul>
</div>